* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

span {
    color: rgb(255, 0, 0);
}

header {
    background-color: #2e2f31;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container ul li {
    display: inline;
}

.container ul li a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.container-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
}

.container ul li a:hover {
    color: red;
}

section {
    background-image: linear-gradient(to right, #c7c7c7, #bbbbbb, #afafaf, #a4a4a4, #989898, #898989, #7a7a7a, #6c6c6c, #575757, #434343, #2f2f2f, #1d1d1d);
}

section .container {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

section h2 {
    margin-bottom: 15px;
}

section p {
    margin-left: 24px;
}
#topo p{
    font-size: 1.4em;
    margin-bottom: 9px;
}

#foto-interna{
    height: 75vh;
}

#item img {
    height: 25vh;
}

.destaque {
    border-bottom: 2px solid red;
    margin-bottom: 30px;
    margin-left: 11px;
    width: 100%;
}
.destaqueprod {
    border-bottom: 2px solid red;
    margin-bottom: 10px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.lista-produtos {
    flex-wrap: wrap;
}

.lista-produtos li {
    list-style: none;
    max-width: 93%;
    margin-bottom: 40px;
}

.lista-produtos img {
    width: 100%;
}

.lista-produtos li h3 {
    margin: 16px 0;
}
.lista-produtos li p {
    margin: 16px 0;
}

.item{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%; 
    column-gap: 5%;
    row-gap: 5%;
}
.itens{
    max-width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    background-color: #119759;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}